{% load static %}
<!--fit flex-->
<!DOCTYPE HTML>
<html>
<head>
<title>Fit flex</title>
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Zero Size Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='static//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<link href='static//fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'>
<!--google fonts-->
 <script src="js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen" />
<!--responsive-->
 <script src="js/responsiveslides.min.js"></script>

</head>
<body>
<!--header start here-->
<!-- animated-css -->
		<link href="static/css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="js/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
<!-- animated-css -->
<!-- NAVBAR
================================================== -->
<div class="header">
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="logo" data-wow-delay="0.3s">
                    <a class="navbar-brand" href="index.html"><img src="static/images/banner.jpg" /></a>
              </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
             <nav class="cl-effect-11">
              <ul class="nav navbar-nav">
                <li><a href="index.html" data-hover="Home">Home</a></li>
                <li><a href="services.html" data-hover="Services">Services</a></li>
                <li><a href="portfolio.html" data-hover="Diet Track">Diet Track</a></li>
                <li><a href="contact.html" data-hover="Contact">Contact</a></li>
              </ul>
            </nav>
            </div>
            <div class="clearfix"> </div>
             </nav>
          </div>
           <div class="clearfix"> </div>
    </div>
     <div class="clearfix"> </div>
</div>
<!--banner start here-->
 <div class="banner">
 		<div class="banner-main">
	 	   <section class="">
			 <div class="">
				<ul class="slides">
				  <li>
				  	<div class="banner-bottom">
				  		<div class="container">
					  		<div class="bann-text" data-wow-delay="0.3s">
							 	<h3>Choose Us</h3>
							 	<p>Elevate your fitness journey with FitFlex–where dedication meets results and every workout brings you closer to your best self.</p>	
						 	</div>			 	
					   </div>
				 	</div>
				  </li>
				
			    </ul>
			 </div>
			 <div class="clearfix"> </div>
		   </section>
 		</div>
 </div>
<!--banner end here-->
<!-- FlexSlider -->
				 <script defer src="js/lastone.jpg.js"></script>
				  <script type="text/javascript">
					$(function(){				 
					});
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
<!-- FlexSlider -->
<!--banner-info strat here-->
<!--social-media strat here-->
<div class="social-media">
	<div class="container">
		<div class="social-main">
			<div class="col-md-5 social-left" data-wow-delay="0.3s">
				<h2>Social Media</h2>
				<p>availabe on all platforms</p>
			</div>
			<div class="col-md-7 social-right wow bounceInRight" data-wow-delay="0.3s">
				<ul>
					<li><a href="#"><span class="fb"> </span> </a></li>
					<li><a href="#"><span class="tw"> </span> </a></li>
					<li><a href="#"><span class="g"> </span> </a></li>
					<li><a href="#"><span class="p"> </span> </a></li>
					<li><a href="#"><span class="inst"> </span> </a></li>
					<li><a href="#"><span class="you"> </span> </a></li>
					
				</ul>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--social media end here-->
<!--bann below grid start here-->
<div class="bann-grid">
	<div class="container">
		<div class="bann-grid-main" data-wow-delay="0.3s">
			<div class="col-md-3 bann-works">
				<div class="ban-setting">
				  <img src="static/images/crossfit.jpg" alt="" class="img-responsive">
				      <!-- <div class="captn">
							<h4>Meditation</h4>							
						</div>-->
                 </div>
				<h6>Crossfit</h6>
			</div>
			<div class="col-md-3 bann-works">
				<div class="ban-setting">
				  <img src="static/images/lifting.jpg" alt="" class="img-responsive">
				    <!--  <div class="captn">
							<h4>Virabhadrasana 4</h4>							
						</div>-->
                 </div>
				<h6>Lifting</h6>
			</div>
			<div class="col-md-3 bann-works">
				<div class="ban-setting">
				  <img src="static/images/cardio.jpg" alt="" class="img-responsive">
				     <!--<div class="captn">
							<h4>Virabhadrasana 1</h4>							
						</div>-->
                 </div>
				<h6>Cardio</h6>
			</div>
			<div class="col-md-3 bann-works">
				<div class="ban-setting">
				  <img src="static/images/g3.jpg" alt="" class="img-responsive">
				     <!-- <div class="captn">
							<h4>Vrikshasana</h4>							
						</div>-->
                 </div>
				<h6>Yoga</h6>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--bann beloew end here-->

<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			  <div class="col-md-4 ftr-grd" data-wow-delay="0.3s">
			  	 <h3>Get in Touch</h3>
			  	 <p>Mohali road</p>
			  	 <p>floor 2nd in mini market</p>
			  	 <p>Phone: 1234567891</p>
			  	 
			  </div>
			 

			  <div class="col-md-4 ftr-grd" data-wow-delay="0.3s">
			  	 <h3>Join Our Newsletter</h3>
			  	   <form>
			  	 	<input type="text" value="Email"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"/>
			  	 	<input type="submit" value="Subscribe">
			  	   </form>
			  </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="copy-right" data-wow-delay="0.3s">
	<p>All rights reserved | Design by Navinoor khattra</p>
</div>
<!--footer end here-->
</body>
</html>