{% load static %}
<!--fit flex--><!DOCTYPE HTML>
<html>
<head>
<title>Fit Flex</title>
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static/js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="static/css/style1.css" rel="stylesheet" type="text/css" media="all" />	
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Zero Size Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='static///fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<link href='static///fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'>
<!--google fonts-->
<!-- animated-css -->
		<link href="static/css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="static/js/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
<!-- animated-css -->
 <script src="static/js/bootstrap.min.js"></script>
</head>
<body>
<!--header start here-->
<!-- NAVBAR
==================================================-->
<div class="header">
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="logo wow slideInLeft" >
                    <a class="navbar-brand" href="index.html"><img src="static/images/banner.jpg" /></a>
              </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
             <nav class="cl-effect-11">
              <ul class="nav navbar-nav">
                <li><a href="index.html" data-hover="Home">Home</a></li>
                <li><a href="services.html" data-hover="Services">Services</a></li>
                <li><a href="portfolio.html" data-hover="Diet Track">Diet Track</a></li>
                <li><a href="contact.html" data-hover="Contact">Contact</a></li>
              </ul>
            </nav>
            </div>
            <div class="clearfix"> </div>
             </nav>
          </div>
           <div class="clearfix"> </div>
    </div>
     <div class="clearfix"> </div>
</div>
<!--header end here-->
<!--services-->

<div class="train-ser">
	<div class="container">
		<div class="train-ser-main">
			<div class="trin-ser-top" data-wow-delay="0.3s">
				<h3>TO GAIN WEIGHT</h3>
<p>Your body provides energy to your muscles by converting glycogen, or sugar, into glucose. When you begin exercising regularly, your body stores more glycogen to fuel the extra movement.</p>
			</div>
			<div class="train-ser-bottom" data-wow-delay="0.3s">
				<div class="col-md-4 train-grid">
				  <div class="trin-top-grid">
					<div class="ser-setting">
					  <img src="static/images/gain.jpg" alt="" class="img-responsive">
					       <div class="captn">
								<h4>JOIN US NOW</h4>	
														
						  </div>
	                 </div>
				  </div>
				  <div class="train-bottom-grid">
				  	<h4>Weight lifting</h4>
				  	<p>Lifting weights triggers muscle growth by causing micro-tears in muscle fibers, which then repair and grow stronger, leading to gains in strength and size</p>
				  </div>
				</div>
				<div class="col-md-4 train-grid">
				  <div class="trin-top-grid">
					<div class="ser-setting">
					  <img src="static/images/streching.jpg" alt="" class="img-responsive">
					      <div class="captn">
							<h4>JOIN US NOW</h4>						
						  </div>
	                 </div>
				  </div>
				  <div class="train-bottom-grid">
				  	<h4>stretching</h4>
				  	<p>stretching after lifting weights is important,after lifting your muscles become stiff and in order to release stress for them do streching everyday </p>
				  </div>
				</div>
				<div class="col-md-4 train-grid">
				  <div class="trin-top-grid">
					<div class="ser-setting">
					  <img src="static/images/trainer.jpg" alt="" class="img-responsive">
					       <div class="captn">
							<h4>JOIN US NOW</h4>						
							</div>
	                 </div>
				  </div>
				  <div class="train-bottom-grid">
				  	<h4>Our best trainers</h4>
				  	<p>These are our 4 best trainers of the monthnames are Ankush,Anisha,Gagan,Aman.They all are holding best certificates in physique</p>
				  </div>
				</div>
			  <div class="clearfix"> </div>
		  </div>
		</div>
	</div>
</div>				
<!--services-->
<!--serstrip-->
<div class="ser-strip">
	<div class="container">
		<div class="ser-strip-main" data-wow-delay="0.3s">
			<h2>Choose your plan today </h2>
			<p>Get early bird discounts.</p>
			<p>Choose your plan today and get a sipper FREE</p>
		<p>Couples will get 15% discount</p>
		<p>if you choose 1 year plan you will get a FitFlex gym bag FREE</p>
		</div>
	</div>
</div>


<!--serstrip-->
<!--train-serv -->
<div class="train-ser">
	<div class="container">
		<div class="train-ser-main">
			<div class="trin-ser-top" data-wow-delay="0.3s">
				<h3>TO LOOSE WEIGHT</h3>
				<p>Weight loss, in the context of medicine, health, or physical fitness, refers to a reduction of the total body mass, by a mean loss of fluid, body fat (adipose tissue), or lean mass .</p>
			</div>
			<div class="train-ser-bottom" data-wow-delay="0.3s">
				<div class="col-md-4 train-grid">
				  <div class="trin-top-grid">
					<div class="ser-setting">
					  <img src="static/images/aero.jpg" alt="" class="img-responsive">
					       <div class="captn">
								<h4>JOIN NOW</h4>	
														
							</div>
	                 </div>
				  </div>
				  <div class="train-bottom-grid">
				  	<h4>Aerobics</h4>
				  	<p>Since aerobics uses a large muscle group, it is responsible for a faster and more effective weight loss. It helps boost your cardiovascular health </p>
				  </div>
				</div>
				<div class="col-md-4 train-grid">
				  <div class="trin-top-grid">
					<div class="ser-setting">
					  <img src="static/images/tred.jpg" alt="" class="img-responsive">
					       <div class="captn">
								<h4>JOIN NOW</h4>	
														
							</div>
	                 </div>
				  </div>
				  <div class="train-bottom-grid">
				  	<h4>Cardio</h4>
				  	<p>Cardio exercises, such as running, cycling, and swimming, help in weight loss by increasing the heart rate and burning calories efficiently</p>
				  </div>
				</div>
				<div class="col-md-4 train-grid">
				  <div class="trin-top-grid">
					<div class="ser-setting">
					  <img src="static/images/trainer.jpg" alt="" class="img-responsive">
					       <div class="captn">
								<h4>JOIN NOW</h4>	
														
							</div>
	                 </div>
				  </div>
				  <div class="train-bottom-grid">
				  	<h4>Top trainers</h4>
				  	<p>These are our 4 best trainers of the month.Their names are Ankush,Anisha,Gagan,Aman.They all are holding best certificates in physique</p>
				  </div>
				</div>
			  <div class="clearfix"> </div>
		  </div>
		</div>
	</div>
</div>
<!--train-serv -->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			  <div class="col-md-4 ftr-grd" data-wow-delay="0.3s">
				<h3>Get in Touch</h3>
				<p>Mohali road</p>
				<p>floor 2nd in mini market</p>
				<p>Phone: 1234567891</p>
			  </div>
		
			  <div class="col-md-4 ftr-grd" data-wow-delay="0.3s">
			  	 <h3>Join Our Newsletter</h3>
			  	   <form>
			  	 	<input type="text" value="Email"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"/>
			  	 	<input type="submit" value="Subscribe">
			  	   </form>
			  </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="copy-right" data-wow-delay="0.3s">
	<p>All rights reserved | Design by Navinoor khattra</p>
</div>
<!--footer end here-->
</body>
</html>